script(src='/javascripts/jquery-1.7.2.min.js') 
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
link(rel='stylesheet', href='/stylesheets/site.css')

#pubnub(pub-key="", sub-key="sub-c45bef28-de83-11e1-933f-93e8ad6f4a5b", ssl="off", origin="pubsub.pubnub.com")
script(src="http://cdn.pubnub.com/pubnub-3.1.min.js")