!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title XSearch
    include ./shared/head
  body
    .navbar
      .navbar-inner
        .container
          .brand
            a(href='#') Social Search
          ul.nav
            li.active
              a(href='/') Home
            li
              a(href="/#/images") Images
    .container
      .content
        block content
        
      footer