!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title XSearch
    include ./shared/head
  body
    .topbar
      .topbar-inner
        .container
          a.brand(href='#') XSearch
          ul.nav
            li.active
              a(href='#') Home
    .container
      .content
        block content
        
      footer